.flight__price {
  background-color: burlywood;
}

.flight__dt {
  display: flex;
}

.app {
  display: flex;
}

.filters__price {
  height: 3em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
